.image{
    text-align: center;
    margin-bottom: 3rem;
}

#formBody{
    margin-top: 7rem;
    padding: 30px;
    border: transparent gray 1px;
    border-radius: 30px;
    background-color: rgb(223, 237, 249);
}